body {
	font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    font-size: 4em;
}

dt {
    font-weight: bold;
    margin-top: 1em;
}

dd {
    margin-left: 1em;
}

a, a:visited {
    text-decoration: none;
    color: blue;
    border-bottom: 0.1em dashed blue;
}
